[submodule "GPT/TinyGPT/third_party/re2"]
	path = GPT/TinyGPT/third_party/re2
	url = git@github.com:google/re2.git
[submodule "GPT/TinyGPT/third_party/abseil-cpp"]
	path = GPT/TinyGPT/third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "GPT/TinyGPT/test/googletest"]
	path = GPT/TinyGPT/test/googletest
	url = git@github.com:google/googletest.git
